
@model ImageSharingWithCloudService.Models.ImageView

@{
    ViewBag.Title = "Upload Unsuccessful";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@{  Html.BeginForm("Upload", "Images", FormMethod.Post, new { enctype = "multipart/form-data" });

}

<fieldset>
    <legend>Enter Image Information </legend>
    @*
        @Html.HiddenFor(m => m.Userid)
    *@


    <p>
        Caption:@Html.TextBox("Caption")
        @Html.ValidationMessage("Caption")
    </p>


    <p>Select a tag: @Html.DropDownList("TagId", ViewBag.Tags as SelectList)</p>

    @*
        <p>Select a tag: @Html.DropDownList("Tag", ViewBag.Tags as SelectList)</p>
    *@



    <p>
        Description : <br />
        @Html.TextArea("Description", "Enter description here.", 5, 40, null)
        @Html.ValidationMessage("Description")
    </p>
    <p>
        Date taken : @Html.TextBox("DateTaken")
        @Html.ValidationMessage("DateTaken")
    </p>

    <p>
        <input type="file" name="ImageFile" />
    </p>
    <p>
        <input type="submit" value="Upload" />
    </p>
</fieldset>

<p>@ViewBag.Message</p>
<p>
    @Html.ValidationSummary()
</p>
@{
    Html.EndForm();
}












