@model ImageSharingWithCloudService.Models.ImageView

@{
    ViewBag.Title = "Delete Image";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<h2>@ViewBag.Title</h2>
@{  Html.BeginForm("Delete", "Images", FormMethod.Post, new { enctype = "multipart/form-data" });

}

<fieldset>
    <legend>Delete Image Information </legend>
    @Html.AntiForgeryToken()
    @*
        @Html.HiddenFor(m => m.Id)
    *@


    @*<p><img src="@Url.Content("~/Content/Images/img-" + @Model.Id + ".jpg" )" /></p>*@

    <p><img src="@Model.Uri" /></p>


    <p>Image id: @Model.Id</p>


    <p> Tag: @Model.TagName</p>


    <p>Caption: @Model.Caption</p>

    <p>Description : @Model.Description</p>

    <p>Date taken: @Model.DateTaken.ToShortDateString()</p>



    <p>
        <input type="submit" value="Confirm Delete" />
    </p>
</fieldset>


@{
    Html.EndForm();
}






